.clients {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        margin: 0;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 167px;
        height: 89px;
        border: 1px solid var(--socialicon-color);
        border-radius: 4px;
        fill: var(--socialicon-color);
        transition-property: border-color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover,
        &:focus {
            border-color: var(--special-color);
            fill: var(--special-color);
        }
    }
}

