.footer-styles {
    background-color: var(--special-backgroundcolor);
    padding-top: 60px;
    padding-bottom: 60px;
}
.container--forfooter {
    display: flex;
    align-items: baseline;
}
.logocontacts {
    margin-right: 70px;

    &__logo {
        font-family: "Raleway";
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
        color: var(--additional-color);
        display: inline-block;
    
        &--firstpart {
            color: var(--special-color);
        }
    }

    &__contacts {
        margin-top: 20px;
    }

    &__address {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__list:not(:first-child) {
        margin-top: 9px;
    }
    &__map {
        color: var(--additional-color);
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--special-color);
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: 0.03em;
        }
    }

    &__mail-tel {
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--special-contactcolor);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            text-decoration: none;
            font-size: 14px;
            font-style: normal;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: var(--special-color);    
        }
    }
}
.joinus {
    margin-right: 93px;

    &--bold-title {
        display: block;
        font-style: normal;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--additional-color);
        margin-bottom: 20px;
    }

    &__networks {
        margin: 0;
    }

    &__list:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--socialicon-specialcolor);
        fill: var(--primary-backgroundcolor);
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--special-color);
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}
.subscribe {
    &--bold-title {
        display: block;
        font-style: normal;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--additional-color);
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__label {
        margin-right: 12px;
    }

    &__input {
        margin: 0;
        padding: 0;
        padding-left: 16px;
        width: 342px;
        height: 49px;
        background-color: inherit;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.03em;
        color: var(--additional-color);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 28px;
        background-color: var(--special-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
        letter-spacing: 0.06em;
        color: var(--additional-color);
        margin-right: 10px;
    }

    &__icon {
        fill: var(--additional-color);
    }
}


