:root {
    --primary-textcolor: #212121;
    --secondary-textcolor: #757575;
    --special-color: #2196F3;
    --second-logocolor: #000000;
    --additional-color: #FFFFFF;
    --special-contactcolor: rgba(255, 255, 255, 0.6);
    --primary-backgroundcolor: #FFFFFF;
    --button-backgroundcolor: #F5F4FA;
    --main-backgroundcolor: #F5F5F5;
    --special-backgroundcolor: #2F303A;
    --specialbutton-backgroundcolor: #188CE8;
    --border-color: #ECECEC;
    --border-second-color: #EEEEEE;
    --overlaycolor: rgba(47, 48, 58, 0.4);
    --socialicon-color: #AFB1B8;
    --socialicon-specialcolor: rgba(255, 255, 255, 0.1);
    --underimg-backgroundcolor: #C4C4C4;
    --underposition-color: rgba(47, 48, 58, 0.8);
    --underworks-color: rgba(33, 150, 243, 0.9);
    --modal-backgroundcolor: rgba(0, 0, 0, 0.2);
}